#banner
{
	padding: 20px;
	font-family: Arial;
	font-size: 60px;
	color: white;
	background-color: orangered;
	margin: auto;
	width: 350px;
	height: 80px;
}

img
{
	display:block; 
	margin:auto;
}

#title
{
	color:         white;
	font-family:   Forte;
	font-size:     90px;
}

body
{
	background-color: gray;
	padding: 40px;
}

progress
{
	position: fixed;
	width: 900px;
	height: 100px;

	top: 1600px; 
	left: 40px;
}