/* Partes del ahorcado */
#piernaIzquierda
{
    background-image: url("../img/body/piernaIzquierda.png");
    width: 51px;
    height: 113px;
    position: fixed;
    top: 273px;
    left: 250px;
    display: none;
}

#piernaDerecha
{
    background-image: url("../img/body/piernaDerecha.png");
    width: 51px;
    height: 113px;
    position: fixed;
    top: 273px;
    left: 225px;
    display: none;
}

#brazoIzquierdo
{
    background-image: url("../img/body/brazoIzquierdo.png");
    width: 55px;
    height: 122px;
    position: fixed;
    top: 200px;
    left: 263px;
    display: none;
}

#brazoDerecho
{
    background-image: url("../img/body/brazoDerecho.png");
    width: 51px;
    height: 106px;
    position: fixed;
    top: 205px;
    left: 205px;
    display: none;
}

#tronco
{
    background-image: url("../img/body/tronco.png");
    width: 86px;
    height: 102px;
    position: fixed;
    top: 185px;
    left: 220px;
    display: none;
}

#cabeza
{
    background-image: url("../img/body/cabeza.png");
    width: 112px;
    height: 238px;
    position: fixed;
    top: -10px;
    left: 180px;
    display: none;
}
/* Partes del ahorcado */

#state
{
    position: fixed;
    top: 500px;
    left: 10px;
    background-color: orange;
    font-family:  arial;
}

#texto
{
    position: fixed;
    top: 250px;
    left: 25px;
}

#putWord
{
    position: fixed;
    top: 250px;
    left: 15px;
    width: 179px;
    height: 38px;
    background-image: url("../img/putWord.png");
}

/* Reiniciar palabra */
#newWord
{
    position: fixed;
    top: 300px;
    left: 15px;
}
/* Reiniciar palabra */

/* Alfabeto */
.alfabeto:hover
{
    filter: invert(100%);
}

.alfabeto
{
    transition: 0.15s;
    position: fixed;
    width: 29px;
    height: 29px;
    transition: 0.15s;
}

#z
{
    background-image: url("../img/abecedario/z.png");
    top: 480px;
    left: 330px;
}

#y
{
    background-image: url("../img/abecedario/y.png");
    top: 480px;
    left: 290px;
}

#x
{
    background-image: url("../img/abecedario/x.png");
    top: 480px;
    left: 250px;
}

#w
{
    background-image: url("../img/abecedario/w.png");
    top: 480px;
    left: 210px;
}

#v
{
    background-image: url("../img/abecedario/v.png");
    top: 480px;
    left: 170px;
}

#u
{
    background-image: url("../img/abecedario/u.png");
    top: 480px;
    left: 130px;
}

#t
{
    background-image: url("../img/abecedario/t.png");
    top: 480px;
    left: 90px;
}

#s
{
    background-image: url("../img/abecedario/s.png");
    top: 480px;
    left: 50px;
}

#r
{
    background-image: url("../img/abecedario/r.png");
    top: 480px;
    left: 10px;
}

#q
{
    background-image: url("../img/abecedario/q.png");
    top: 440px;
    left: 330px;
}

#p
{
    background-image: url("../img/abecedario/p.png");
    top: 440px;
    left: 290px;
}

#o
{
    background-image: url("../img/abecedario/o.png");
    top: 440px;
    left: 250px;
}

#ne
{
    background-image: url("../img/abecedario/ne.png");
    top: 440px;
    left: 210px;
}

#n
{
    background-image: url("../img/abecedario/n.png");
    top: 440px;
    left: 170px;
}

#m
{
    background-image: url("../img/abecedario/m.png");
    top: 440px;
    left: 130px;
}

#l
{
    background-image: url("../img/abecedario/l.png");
    top: 440px;
    left: 90px;
}

#k
{
    background-image: url("../img/abecedario/k.png");
    top: 440px;
    left: 50px;
}

#j
{
    background-image: url("../img/abecedario/j.png");
    top: 440px;
    left: 10px;
}

#i
{
    background-image: url("../img/abecedario/i.png");
    top: 400px;
    left: 330px;
}

#h
{
    background-image: url("../img/abecedario/h.png");
    top: 400px;
    left: 290px;
}

#g
{
    background-image: url("../img/abecedario/g.png");
    top: 400px;
    left: 250px;
}

#f
{
    background-image: url("../img/abecedario/f.png");
    top: 400px;
    left: 210px;
}

#e
{
    background-image: url("../img/abecedario/e.png");
    top: 400px;
    left: 170px;
}

#d
{
    background-image: url("../img/abecedario/d.png");
    top: 400px;
    left: 130px;
}

#c
{
    background-image: url("../img/abecedario/c.png");
    top: 400px;
    left: 90px;
}

#b
{

    background-image: url("../img/abecedario/b.png");
    top: 400px;
    left: 50px;
}

#a
{
    background-image: url("../img/abecedario/a.png");
    top: 400px;
    left: 10px;
}
/* Alfabeto */

#entrada
{
    width: 200px;
    height: 50px;
    position: fixed;
    top: 150px;
    left: 10px;
}

/* Ingreso de jugador1. */
.input:focus
{
    width: 165px;
    border: 2px solid green;
}

.input
{
    width: 160px;
    transition: 0.15s;
    outline: 0px;
    border: 2px solid black;
    position: fixed;
}

#player1
{
    top: 240px;
    left: 30px;
}

#player2
{
    top: 460px;
    left: 30px;
}
/* Ingreso de jugador1. */


/* Botón devolverse a ventana anterior. */
#iconoAtras:hover
{
    filter: invert(100%);
}

#iconoAtras
{
    transition: 0.15s;
    background-image: url('../img/atras.png');
    width: 47px;
    height: 47px;
    position: fixed;
    top: 80px;
    left: 10px;
}
/* Botón devolverse a ventana anterior. */


/* Fondo para el juego de único jugador. */
.fondoCategoria
{
    background-image: url('../img/fondoCategoria.png');
}
/* Fondo para el juego de único jugador. */


/* Botón devolverse al menú. */
#iconoHome:hover
{
    filter: invert(100%);
}

#iconoHome
{
    transition: 0.15s;
    width: 48px;
    height: 48px;
    background-image: url('../img/home.png');
    position: fixed;
    top: 10px;
    left: 10px;
}
/* Botón devolverse al menú. */


/* Opciónes del único jugador. */
.option:hover
{
    color: orange;
    font-family: 'Times New Roman';
    font-size: 30px;
}

.option
{
    transition: 0.15s;
    color: white;
    font-family: 'Times New Roman';
    font-size: 25px;
    text-align: center;
}
/* Opciónes del único jugador. */


/* Fondo de la ventana jugador. */
#fondoMultijugador
{
    padding: 240px 30px;
    background-image: url("../img/fondoJuego.png");
}
/* Fondo de la ventana jugador. */


/* Fondo de la ventana jugador. */
#fondoJugador
{
    padding: 265px 70px;
    background-image: url("../img/fondoJugador.png");
}
/* Fondo de la ventana jugador. */


/* Fondo de la ventana ayuda. */
#fondoAyuda
{
    background-image: url("../img/fondoAyuda.png");
}
/* Fondo de la ventana ayuda. */


/* Fondo de la ventana creditos. */
#fondoCreditos
{
    background-image: url("../img/fondoCreditos.png");
}
/* Fondo de la ventana creditos. */


/* Estilos CSS de las opciones del menú. */
.cardOption:hover
{
    filter: invert(100%);
}

.cardOption
{
    transition: 0.15s;
    margin: 5px;
    width: 110px;
    height: 25px;
}

#opcionCreditos
{    
    background-image: url("../img/creditos.png");
}

#opcionAyuda
{
    background-image: url("../img/ayuda.png");
}

#opcionMultijugador
{
    background-image: url("../img/multijugador.png");
}

#opcionJugador
{
    background-image: url("../img/jugador.png");
}
/* Estilos CSS de las opciones del menú. */


/* Fondo del menú principal. */
#fondoMenu
{
    padding: 300px 25px;
    background-image: url("../img/fondoJuego.png");
}
/* Fondo del menú principal. */


/* Estilos de la ventana de carga. */
#banner
{
    width: 104px;
    height: 128px;
    background-image: url("../img/iconoInicial.png"); 
    top: 450px;
    left: 10px;
    position: fixed;
}

#fondoCarga
{
    background-image: url("../img/fondoInicial.png");
}
/* Estilos de la ventana de carga. */