/* CSS con Media Queries */

@media screen and (max-height: 640px), (max-width: 360px) 
{
	#banner
	{
		padding: 3px;
		font-family: Arial;
		font-size: 14px;
		color: white;
		background-color: orangered;
		margin: auto;
		width: 80px;
		height: 20px;
		border-style: dashed;
	}
	
	img
	{
		display:block; 
		margin:auto;
	}
	
	#title
	{
		color:         white;
		font-family:   Forte;
		font-size:     34px;
	}
	
	body
	{
		background-color: gray;
		padding: 40px;
	}
}	